
 
html, body {
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}


.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}



.create-post-form input,
.create-post-form textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.post-card {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

.post-details img {
  max-width: 100%;
  height: auto;
}

.post-details form {
  margin-top: 20px;
}

.post-details input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.return-button {
  display: block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.return-button:hover {
  background-color: #e0e0e0;
}
body.light {
  background-color: #eeee;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}

.list-layout .post-card {
  display: block;
}

.grid-layout .post-card {
  display: inline-block;
  width: 30%;
}
.preferences button{
  margin-left: 30px;
}


button {
 
  margin: 7px;
  padding: 7px;
  cursor: pointer;
  background-color: #7c73e6; 
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color:#9896f1 ;
}


.dark .dark-button {
  background-color: #7c73e6; 
  color: white;  
}

.dark .dark-button:hover {
  background-color: #9896f1; 
}


.light .light-button {
  background-color: black; 
  color: white; 
}

.light .light-button:hover {
  background-color: #393e46; 
}
