
#root {
  background-image: url("/src/images/bg.jpg");
  background-size: cover; /* Add this line */
  background-position: center; /* Add this line */
  height: 150vh; /* Add this line */
  width: 100vw;
  margin: 0;
  padding: 0;
  
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.flashcard-container {
  display: flex;
  justify-content: center;
  perspective: 1000px; /* Creates a 3D space */
  margin: -50px auto;
  width: 700px;
  height: 300px; 
  align-items: center; 
  height: 100vh; 
  padding: 20px; 
  
}


.flashcard {
  width: 800px; 
  height: 500px; 
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s; 
  position: relative; 
  
}

.flashcard-app {
  display: inline;
  color: black;
  font-weight: 600;
  font-size: 18px;
  
}
.streak-info p{
  display: inline;
  margin-right: 50px;
  margin-left: 50px;


}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the other side when flipped */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: rgba(248, 249, 250, 0.8);
  backface-visibility: hidden;
}

.flashcard-front {
  
  background-color: rgba(248, 249, 250, 0.5); /* 50% transparent */
  color: black;
}

.flashcard-back {
  background-color: rgba(248, 249, 250, 0.5); /* 50% transparent */
  color: black;
  transform: rotateY(180deg); /* Start the back side flipped */
}

h4{
  display: flex;
  justify-content: space-around;
  
}
.gif-container {
  margin-top: 10px; /* Space above the GIF */
  text-align: center; /* Center the GIF */
}

.gif {
  display: flex;
  justify-content: center;
  width: 80%; 
  height: auto; 
  margin-top: 10px; /* Space above the GIF */
  
  
}
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: yellow;
  color: black;
}

.feedback {
  font-size: 1.2rem;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  
}

.feedback.correct {
  color: green;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  
}

.feedback.incorrect {
  color: red;
  background-color: white;
  padding: 10px;
 margin-left: 20px;
}
.no-feedback {
  background-color: transparent; /* Transparent or no background before user clicks Submit */
}


.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

input {
  padding: 10px;
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 5px;

}

  #submit-btn {
  padding: 10px 20px;
  margin-left: 5px;
  background-color: black;
  color: yellow;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: yellow;
  color: black;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

  
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
